body {
  background-color: #440f42;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #023047;
  min-height: 500px;
  
  margin: 40px auto;
  margin-top: 200px;
  width: 600px;
}

#to-do-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#to-do-form input {
  background-color: #d8f4dc;
  border: 0;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  box-shadow: 2px 2px 2px 2px inset #1b090977;
}

#to-do-form input::placeholder {
  color: #003049;
}
#to-do-form input:focus {
  outline: none;
}

#to-do-form button {
  border: 0;
  height: 50px;
  width: 80px;
  border-radius: 5px;
  background-color: #fee440;
  cursor: pointer;
  font-weight: bolder;
  transition-duration: 200ms;
  margin-right: 20px;
}

#to-do-form button:focus {
  outline: none;
}
#to-do-form button:hover {
  box-shadow: 3px 3px 0 0 #26262765;
  transform: translate(-2px, -2px);
}

#to-do-form button:active {
  transform: translate(0px, 0px);
}
